{% extends 'portal/index.html' %}
{% load staticfiles %}
{% load i18n %}
{% load includeJSX %}
{% load YBtools %}

		{% block title %}
			{% trans "AQNext" %}
		{% endblock %}

		{% block css %}
			<link rel="stylesheet" type="text/css" href="{% static 'bundles/main.css' %}">            
		{% endblock %}

		{% block js %}            
			<script src="{% static "bundles/main.js" %}"></script>
			<script src="{% static "bundles/auxcss.js" %}"></script>
			<!-- Material Design fonts -->
			<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

		{% endblock %}

		{% block main %}
			<style>
		.logPanel{
			max-width:350px;
			margin:30px auto;
			overflow:hidden;
			background-color:white;
			box-shadow: -40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important;
		}

		.logInput{
			//width:98%;
		}

		.logInputPas{
			//width:98%;
			margin-top:20px !important;

		}

		.logButton{
			float:right;
			//left:50%;
			//margin-left:-55px;
		}

		.logPanelHeader, .logPanelBody{
			margin:5px 20px;
		}
	</style>
		   <div class="logPanel">
		   	<center><h3>Articulo: {{ param }}</h3></center>
				<div class="logPanelBody">
					<form action="/almacen/uploadimage/{{param}}" method="post" enctype="multipart/form-data">{% csrf_token %}
						<label for="image">Imagen:</label>
						<input type="file" name="image" id="image" capture="camera" />
						<br />
						<div class="logPanelFooter">
							<!--button type="submit">Entrar</button-->
							<button name="loginSubmit" href="javascript:void(0)" class="btn btn-flat btn-primary logButton">Publicar</button>
						</div>
						
					</form>
				</div>
			</div>
		{% endblock %}
		

{% block endjs %}

{% endblock %}
